<div class="table-responsive">
<table class="table table-striped" >
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Fecha Ingreso</th>
    <th scope="col">Tipo de ticket</th>
  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let ticket of tickets2">
    <td scope="row"> {{ ticket._id }}</td>
    <td class="w-25" style ="word-break: break-word">
      {{ ticket.title }}
    </td>
    <td class="w-100" style ="word-break: break-word;  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;padding:0px">{{ ticket.description}}</td>
    <td style ="word-break: break-word">{{ ticket.fechaIngreso | date : format : timezone}}</td>
    <td class="w-25" style ="word-break: break-word">{{ ticket.tipoTicket.tipo}}</td>

  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

</div>
</div>