<div>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Fecha</th>

  </tr>
  </thead>
  <tbody>
  <tr  *ngFor="let ticket of tickets2">
    <td scope="row">{{ ticket._id }}</td>
    <td>
      {{ ticket.title }}
    </td>
    <td>{{ ticket.description}}</td>
    <td>{{ ticket.fechaIngreso | date : format : timezone}}</td>

  </tr>
  </tbody>
</table>

<div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

</div>
</div>