

<div class="wrapper">

  <!-- Sidebar -->
  <nav *ngIf="getIsCollapsed" id="sidebar">
      <ul class="list-unstyled">
        <img src="assets/img/logo-itil.png" class="width100">  
        <li class="active">
              <a  class="dropdown-toggle" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample"> Tickets</a>
              <ul id="collapseExample" class="noPadding" [ngbCollapse]="isCollapsed">
                  <li>
                      <a routerLink="/listTicket">List</a>
                  </li>
                  <li>
                      <a routerLink="/createTicket">Add ticket</a>
                  </li>
              </ul>
        </li>
          <li class="active">
            <a  class="dropdown-toggle" (click)="isCollapsedUser = !isCollapsedUser"
            [attr.aria-expanded]="!isCollapsedUser" aria-controls="collapseExample2"> Users</a>
            <ul id="collapseExample2" class="noPadding" [ngbCollapse]="isCollapsedUser">
                <li>
                    <a routerLink="/users/add">Add user</a>
                </li>
                <li>
                  <a routerLink="/users">List</a>
              </li>
            </ul>
          </li>
        

       </ul>
  </nav>

  <!-- Page Content -->
  <div class="content width100"  role="main">
    <nav *ngIf="getIsCollapsed" class="navbar-light bg-secondary">
        <ul class="nav-top-margin-0 text-right" style="height:100%">
          <span class="margin-h-10 white-text">{{getUsuarioMail}}</span>
          <button (click)="logout()" class="margin-h-10" mat-raised-button color="primary">sign out</button>
        </ul>
    </nav>

    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>      